datasets/bcss/image/
datasets/bcss/mask/
datasets/bcss/meta/
datasets/celeb-faces/img_align_celeba/
datasets/celeb-faces/list_attr_celeba.csv
datasets/celeb-faces/list_bbox_celeba.csv
datasets/celeb-faces/list_landmarks_align_celeba.csv
datasets/celeb-faces/list_eval_partition.csv
datasets/celeb-faces/identity_CelebA.txt
datasets/bdd100k/
datasets/isic2020/train.csv
results/

!datasets/bcss/preprocessed/
!datasets/celeb-faces/preprocessed/
!datasets/isic2020/preprocessed/

__pycache__/
*.py[cod]
.venv/
*.egg-info/
dist/
build/

.vscode/settings.json
.idea/

*.log
*.tmp
*.tex
